/* トップページのスタイル */
/* heroセクションのスタイル */
.top-hero {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding-top: 40px;
}

/* indexBg.jsで指定した */
.top-hero.daytime {
    background: linear-gradient(to bottom, #3cadff, #fff);
}

.top-hero.sunset {
    background: linear-gradient(to bottom, #ff6853, #fff493);
}

.top-hero.night {
    background: linear-gradient(to bottom, #2e3577, #74bcff);
}


.hero-bg {
    margin-top: 5px;
}

.hero-bg img {
    display: block;
    width: 100%;
    position: relative;
    bottom: 0;
}

.hero-plane {
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.hero-plane-box {
    display: flex;
    animation: marquee 60s linear infinite;
}

.hero-plane-box img {
    width: 4vw;
}

@keyframes marquee {
    from {
        transform: translateX(100vw);
    }

    /* 右端から */
    to {
        transform: translateX(-100%);
    }

    /* 自分自身の幅分だけ左へ */
}

.hero-title {
    /* この4行で要素の大きさが変化しても要素が中心にあるようにする。 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 80%;
    word-break: keep-all;
    padding: 1em;
}

.hero-title.daytime {
  color: #353535;
}

.hero-title.sunset {
  color: #353535;
}

.hero-title.night {
  color: #f0f0f0;
}

.hero-title-content {
    margin: 1em 0;
}

.hero-title-ja {
    font-size: 3vw;
    letter-spacing: 0.4vw;
}

.hero-title-en {
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
}